@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root{
   --font: 'Libre Baskerville', serif;
   --color:#fcc326;
}
input{
    &:focus{
        outline: transparent;
    }
}
body{
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    text-align: center;
    padding-bottom: 35px;
}
.nav{
    margin-top: 2px;
    height: 80px;
    background-color: var(--color);

    .logo{
        display: inline-block;
        margin-top: .5em;
        margin-left: .5em;
       
        img{
            border: 2px solid white;
            width: 60px;
            height: 60px;
            display: block; 
        }

        a{
            margin: 0;
            padding: 0;
        }
    }

    ul{
        list-style-type: none; 
        p{
            display: inline-block;
            color: white;
            margin: 15px;
        }
    }

    li{
        display: inline;
    }

    a{
        text-decoration: none;
        margin-right: 15px;
        text-transform: uppercase;
        color: white;

        &:hover{
            color: var(--color);
            padding: 5px;
            background-color: white;
        }
    }

    .nav-primary,.nav-secondary{
        position: absolute;
        margin-top: 1em;
        display: inline-block;   
    }

    .nav-secondary{
        right:5%;
    }

}
.cover-image{
   
    height: 500px;
    text-align: center;
    overflow: hidden;
    background-image: url("../images/pexels-ekaterina-bolovtsova-5702702.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

      
     img{
        width: 65em;
        opacity: 0.8;
    }
    .cover-text{
       

        h1{
            color: var(--color);
            font-size: 30pt;
            background-color: white;
            opacity: 0.7;
            border-radius: 10px;
            text-align: center;  
            padding-top: 5%
        }
     
        .buy-cover{
            position: relative;
            background-color: var(--color);
            padding: 10px;
            color: white;
            border-radius: 5em;
            font-size: 20pt;
            border: 2px solid white;
            text-decoration: none;
    
            &:hover{
                color: var(--color);
                background-color: white;
                opacity: 0.8;
            }
        }
    }   
}

.filter{
    float: right;
    margin-left: 25px;
   h2{
       text-align: center;
   }
}
.footer{
    bottom: 0;
    display: block;
    background-color: #302e26;
    height: auto;
    p{
        color: #fcc326;
        text-align: center;
        position: relative;
        top: 50%;
      
    }
    ul{
        display: inline-block;
        li{
            list-style: none;
            display: inline-block;
            margin: 10px;
            a{
                color: #fcc326;
                text-decoration: none;
            }
        }
    }
}
.content{
    display: grid;
    
    grid-template-columns: 20% 80%;

    .category{
        grid-column: 1/1;
        margin: 10px;
        border-bottom: 2px solid var(--color);
        border-left: 2px solid var(--color);

        .checkbox{
            display: block;
            margin-top: 10px;
            margin-left: 25px;
            
            label{
                font-size: 14pt;
                font: var(--font);
            }
        }
        

        h2{
            text-align: center;
        }
        
       
    }
    .filter{
        select{
            font-size: 14pt;
            float: left;
            border: 0.5px solid var(--color);
            option{
                font: var(--font);
            }
        }
    }
}


.products{  
    display: grid;
    grid-template-columns: repeat(4,auto);
    
    .product-cart{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        justify-content: center;  
        height: 350px;
      
    }
    .title-of-product{
        text-align: center;
        color: black;
    }
    .image-of-product{
        img{
            width: 100%;
            object-fit: contain;
        }
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: auto;
        
    }

    .buy-product{
        border-radius: 5em;
        display: block; 
        border: var(--color); 
        font-size: 16pt;
        color: white;
        button{
            margin: auto;
            padding: 5px;
            max-width: 100%;
            margin-bottom: 0; 
           
            
        }
        &:hover{
            background-color: black;
            color: var(--color);
        } 
    }   
}

button{
   
    input{
        background-color: transparent;
        
        font: var(--font);
        size: 14pt;
        border: none;
        color: white;
        border-radius: 2px;
    }
}
//--------------- ABOUT US PAGE
.about-us-story{
   width: 85%;
   margin: auto;
}
    
    
//PAGE CART------------
.cart-table{
    width: 80%;
    table{
      
        #cart{
    
            td{
                   input{
                       border: 0px solid transparent;
                       font: var(--font);
                       text-align: center;
                       &:disabled{
                           color: black;
                           background-color: transparent;
                       }
                   }
               }
           }
    }
    
    #truncate-cart{
        margin-top: 10px;
    }
    
}

.total_price{
    float: right;
}

.form-div{
    font-family: var(--font);
    margin-top: 25px;
    display: grid;
    #btn-poruci{
        margin-top: 10px;
    }
    .msg{
        
        color: black;
        height: 55px;
    }
    
    form, .left-side{ 
        justify-content: center;
        display: grid; 
        grid-row-gap: 20px;
      
        
        .sub-inline{
            display: grid;
            grid-template-columns: repeat(2,50%);  
            grid-column-gap: 10px;  
        }
        .sub-inline-three{
            display: grid;
            grid-template-columns: repeat(3,33%); 
            grid-column-gap: 10px;   
        }
        
            input, select{
                
                font: var(--font);
                size: 18pt;  
                border: 0px solid transparent;
                border-bottom: 1px solid var(--color); 
             
            }
            textarea{
                font: var(--font);
                border: 1px solid var(--color);
            }
    }
}
.page{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.right-side{
    display: grid;
    grid-template-rows: 2fr;
    text-align: center;

}
table{
    width: 100%;
    height: auto;
    margin: auto;
    th{
        border-bottom: 5px solid black;
    }
    img{
        height: 150px;
        width: 150px;
    }
    tr{
        text-align: center;
    }
    td{
        text-align: center;
        border-bottom: 1px solid var(--color);
        padding-top: 15px;
        padding-bottom: 15px;
      
    }
}
button{
    margin: 5px;
    padding: 5px;
    background-color: var(--color);
    border: 1px solid var(--color);
    font-size: 14pt;
    color: white;
    margin: auto;
    
    a{  
        text-decoration: none;
        color: white;
        font-family: var(--font);

        input{
            background-color: var(--color);
            font: var(--font);
            
        }
    }
   
}
.message{

    &:empty{
        display: none;
    }
  
    margin: 15px;
    width: 50%;
    height: auto;
    background-color: #fcc326;
    border: 1px solid #302e26;
    padding: 5px;
    color: white;
    font-size: 16pt;
    p{
        
        text-align: center;
        color: white;
        font-size: 24pt;    
    }
}
//--------SINGLE PRODUCT
.product{
    display: grid;
    grid-template-columns: 60% 30%;
    grid-column-gap:1em;

    .product-img-tit{
      
        .product-img{     
            display: block;
            margin-left: 10%;
            img{
               width: 50%;
            }
        }
        .product-title{
            h2{
                margin-top: 50px;
                margin-bottom: 50px;
                margin-left: 10%;
                
                input{
                    border: 1px solid transparent;
                    font-size: 16pt;
                    font: var(--font);
                    text-align: center;
                }
            }
        }
   }
   .product-info{
     display: grid;
     grid-auto-rows: minmax(100px,auto);
    margin: 70px;

    .short-description{
    margin-top: 50px;
    padding: 5px;
    }

    .choose-properties,.choose-properties{
        
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1,auto);
       
        p{
            grid-row: 1/1;
            text-align: center;
            font-size: 16pt;
        }
        #size,#imprint{
            grid-row: 2/2;
            margin: 5px;
            font-size: 16pt;
        }
        .quantity{
            display: grid;
            grid-template-columns: repeat(3,50px);
            padding: 25px;
            margin: auto;
            
            .plus,.minus{
                    margin: auto;
                    text-decoration: none;
                    font-size: 16pt;
                    width: 40px;
                    height: 40px;
                    background-color: #fcc326;
                    text-align: center;
                    color: white;
                    border-radius: 15%;
                    padding-top: 5px;
                    cursor: pointer;
            }
            #quantity{
                cursor: not-allowed;
                border: none;
                text-align: center;
            }
         } 
         .price{
             margin: auto;
             
             input{
                 border: 1px solid transparent;
                 text-align: center;
                 font-size: 16pt;
                 margin-bottom: 15px;
                  &:disabled{
                      color: black;
                      background-color: transparent;
                  }
                
             }
         }
    }

    #buy{
        font-size: 15pt;
        background-color: var(--color);
        padding: 5px;
        color: white;
        border: none;
        margin-top: 10px;
        &:hover{
            background-color: white;
            color: var(--color);
            border: 1px solid black;
        }
    }
   }
  
}
.description{
    font-size: 14pt;
    
    .attribute{
       font-weight: bold;
 
    }
    .attribute_value{
        color: var(--color);
   
    }
    p{
        display: inline-block;
        margin-bottom: 0;
        padding: 0;
        border-bottom: 1px solid black;
       
    }
}
.add-product{
    display: grid;
    grid-template-columns:2fr;
    h2{
        text-align: center;
    }
    form{
        margin-top: 15px;
        margin-bottom: 15px;
        
    }
}
.side-bar{
    margin-top: 30px;
    display: inline-block;
    position: absolute;
   a{
       display: block;
       height: 35px;
       background-color: var(--color);
       width: auto;
       text-decoration: none;
       color: white;
       margin-bottom: 5px;
       font-size: 14pt;
    
   }
}

@media only screen and (max-width: 800px) {
.nav-primary,.nav-secondary{
  li{
      display: block;
  }
}
  }